.TopologyContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: auto;
    padding-left: 16px;
}

.TopologyTreeBox {
    order: 1;
    flex: initial;
    min-width: 300px;
    min-height: 100vh;
}

.TopologyStatBox {
    flex: 1;
    order: 2;
    margin: 0 4px;
    min-height: 100vh;
}

.pt-tree {
    height: inherit;
    min-height: 100vh;
}

.pt-tree-node-secondary-label {
    line-height: 0.58581 !important;
}
